.form-container {
  margin: 0 auto;
  width: 80%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem; /* Adjust margin between rows as needed */
}

.form-group {
  flex: 1 0 50%; /* Each form group takes up 50% of the row width */
  padding-right: 1.5rem; /* Adjust spacing between form elements as needed */
}

.form-label {
  /* Typography for label */
  color: var(--colors-text-text-secondary-700, #344054);
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.form-label.text-md-end {
  text-align: right; /* Align labels to the right when required */
}

.form-control-input,
.form-control-textarea {
  /* Typography for placeholder */
  color: var(--Colors-Text-text-placeholder, #667085);
  padding: 6px;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: var(--radius-md, 8px);
  border: 1px solid var(--Colors-Border-border-primary, #d0d5dd);
  background: var(--Colors-Background-bg-primary, #fff);

  /* Shadows/shadow-xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  /* Layout for placeholder */
  flex: 1 0 0;
  align-self: stretch;
  width: 100%; /* Ensure input takes full width */
}

.form-control-textarea {
  height: 120px; /* Set height for textarea */
}

.button-primary-sw {
  width: 156.28px;
  height: 41.92px;

  padding-top: 10.46px;
  padding-bottom: 10.46px;
  background: #7f56d9;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  overflow: hidden;
  border: 1.05px #7f56d9 solid;

  gap: 4px;

  padding-left: 2px;
  padding-right: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.btn-center {
  margin: 0 auto; /* Center the button horizontally */
}

@media (max-width: 768px) {
  .form-group {
    flex: 1 0 100%; /* Each form group takes up 100% of the row width on smaller screens */
  }

  .form-group:nth-child(2) {
    order: 3; /* Change the order of the second form group to be after the third one */
  }

  .form-group:nth-child(3) {
    order: 2; /* Change the order of the third form group to be before the second one */
  }
}
